<%- include("../userLayouts/userHeader.ejs")  %>
<%- include("../userLayouts/userNavbar.ejs")  %>


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav" style="margin-bottom: 2rem !important;">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/product">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">

                
  <!--  FOR COUPON PAGE -->
                <div class="checkout-discount  pb-5">
                  <!-- <form action="#">
                      <label for="" class="text-truncate">View available coupon code : <a class="text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Click here </a></label>
                  </form> -->

                  
                </div><!-- End .checkout-discount -->
                <div class="checkout-discount">
                    <!-- <form>
                        <input type="text"  class="form-control" required id="code" placeholder="Have a coupon? here to enter your code">
                        <button class="btn btn-outline-primary-2" onclick="applycoupon($('#code').val())">Applay coupon</button>
                    </form> -->
                </div><!-- End .checkout-discount -->         


                <form action="#" id="checkoutForm">
                    <div class="row">
                        <div class="col-lg-9"> 
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->   
                            <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-end pb-2">
                                    <a href="/addAddress" type="button" class="btn btn-outline-primary-2"> Add
                                        Address</a>
                                  </div>

                                  <% if(address){

                                    address.addresses.forEach((address)=>{
                                        %>

                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <input required class="form-check-input pt-5" type="radio" name="selectAddress" id="flexRadioDefault1"
                                                 value="">
                                                <ul>
                                                    <h3 class="card-title"> Address</h3><!-- End .card-title -->
                                                    <li>Name :<%= address.userName %>        
                                                    </li>         
                                                    <li>mobile :<%= address.mobile %>
                                                    </li>
                                                    <li>altrenativeMob :<%= address.alternativeMob %>
                                                    </li>
                                                    <li>houseName :<%= address.housename %>
                                                    </li>
                                                    <li>city :<%= address.city %>
                                                    </li>
                                                    <li>state :<%= address.state %>
                                                    </li>
                                                    <li>pincode :<%= address.pincode %>
                                                    </li>
                                                    <li>landmark :<%= address.landmark %>
                                                    </li>
                                                    <a>
                                                        <a href="/editaddress?id=<%= address._id %>"  class="btn btn-outline-primary-2">
                                                            Edit
                                                        <a/>
                                                    </a>
                                                    <button onclick="deleteCheckoutAddress" type="button" class="btn btn-outline-primary-2">
                                                        Delete
                                                    </button>
                                                </ul>
                                        </div><!-- End .card-dashboard -->
                                </div>
                           <% })  }else{ %>
                            <h1>no address added</h1>
                            <% } %>
                              
                            </div><!-- End .col-lg-12 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                            <table class="table table-summary">
                                <tbody>
                                  <tr class="summary-subtotal">
                                        <td>Wallet Amount:</td>
                                        <td>₹<span id="totals"></span></td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹.00</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Delivery charge:</td>
                                        <td>₹ 80.00</td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td>₹<span id="discount">.00</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td >₹<span id="total">.00</span></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->
                            <div class="accordion-summary">
                              <div class="d-flex align-items-center">
                                  <div class="mr-2">
                                      <input required type="radio" id="walletpayment" name="payment" value="walletpayment">
                                  </div>
                                  <a href="" class="d-block text-dark" for="pay1">Wallet </a>
                              </div>
                              <div class="d-flex align-items-center">
                                  <div class="mr-2">
                                      <input required type="radio" id="COD" name="payment" value="COD">
                                  </div>
                                  <a href="" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                              </div>
                              <div class="d-flex align-items-center">
                                  <div class="mr-2">
                                    <input required type="radio" id="onlinPayment" name="payment" value="onlinPayment">
                                  </div>
                                  <a href="" class="d-block text-dark">Razer Pay</a>
                              </div>
                            </div><!-- End .accordion -->

                            <a href="/checkoutPage" class="btn btn-outline-primary-2 btn-order btn-block">Place Order</a>

                           
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



<%- include("../userLayouts/userFooter.ejs")  %>